.header-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-image1 {
  width: 107px;
  height: 95px;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-link1 {
  text-decoration: none;
}
.header-link2 {
  text-decoration: none;
}
.header-link3 {
  text-decoration: none;
}
.header-link4 {
  text-decoration: none;
}
.header-link5 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
}
.header-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.header-burger-menu {
  display: none;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  height: 3rem;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.header-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name1 {
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name2 {
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  background-color: var(--dl-color-theme-neutral-light);
}

@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero3-header9 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.hero3-content {
  display: flex;
  justify-content: center;
}
.hero3-max-width {
  align-self: center;
  align-items: center;
}
.hero3-column {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero3-column1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero3-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.hero3-text2 {
  color: var(--dl-color-theme-neutral-light);
}
@media(max-width: 991px) {
  .hero3-column {
    width: 100%;
  }
  .hero3-column1 {
    width: auto;
  }
  .hero3-button {
    flex: 1;
  }
  .hero3-button1 {
    flex: 1;
  }
}
@media(max-width: 767px) {
  .hero3-max-width {
    flex-direction: column;
  }
  .hero3-text {
    text-align: center;
  }
  .hero3-text1 {
    text-align: center;
  }
  .hero3-actions {
    width: 100%;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .hero3-actions {
    flex-direction: column;
  }
  .hero3-button {
    width: 100%;
  }
  .hero3-button1 {
    width: 100%;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}

.features18-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.features18-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.features18-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features18-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features18-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features18-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.features18-root-class-name {
  background-color: #a1b5a1;
}
@media(max-width: 991px) {
  .features18-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.features171-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.features171-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
.features171-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
.features171-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features171-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.features171-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 991px) {
  .features171-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.footer-issues-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer-issues-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-issues-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer-issues-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-issues-image1 {
  height: 2rem;
}
.footer-issues-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer-issues-link1 {
  text-decoration: none;
}
.footer-issues-link2 {
  text-decoration: none;
}
.footer-issues-link3 {
  text-decoration: none;
}
.footer-issues-link4 {
  text-decoration: none;
}
.footer-issues-link5 {
  text-decoration: none;
}
.footer-issues-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer-issues-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer-issues-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer-issues-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer-issues-fragment2 {
  display: contents;
}
.footer-issues-link5 {
  display: inline-block;
}
.footer-issues-fragment {
  display: contents;
}
.footer-issues-link3 {
  display: inline-block;
}
.footer-issues-fragment1 {
  display: contents;
}
.footer-issues-link4 {
  display: inline-block;
}
.footer-issues-root-class-name {
  background-color: #FFFFFF;
}
@media(max-width: 991px) {
  .footer-issues-logo {
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer-issues-content {
    flex-direction: column;
  }
  .footer-issues-row {
    flex-direction: column;
  }
  .footer-issues-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-issues-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-issues-content {
    width: 100%;
  }
  .footer-issues-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.issues-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.issues-fragment {
  display: contents;
}
.issues-link3 {
  display: inline-block;
}
.issues-fragment1 {
  display: contents;
}
.issues-link4 {
  display: inline-block;
}
.issues-fragment2 {
  display: contents;
}
.issues-link5 {
  display: inline-block;
}
