.header-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-image1 {
  width: 107px;
  height: 95px;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-link1 {
  text-decoration: none;
}
.header-link2 {
  text-decoration: none;
}
.header-link3 {
  text-decoration: none;
}
.header-link4 {
  text-decoration: none;
}
.header-link5 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
}
.header-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.header-burger-menu {
  display: none;
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  height: 3rem;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.header-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name1 {
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name2 {
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  background-color: var(--dl-color-theme-neutral-light);
}

@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.content-list4-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list4-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list4-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul {
  align-items: flex-start;
}
.content-list4-li {
  align-items: flex-start;
}
.content-list4-heading7 {
  align-self: center;
  text-align: center;
}
.content-list4-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul1 {
  align-items: flex-start;
}
.content-list4-fragment {
  display: contents;
}
.content-list4-content7 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list4-text {
  text-decoration: underline;
}
.content-list4-root-class-name {
  background-color: #a1b5a1;
}

.content-list2-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list2-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list2-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list2-li {
  align-items: flex-start;
}
.content-list2-ul1 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list2-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list2-li4 {
  align-items: flex-start;
}
.content-list2-ul3 {
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.content-list2-fragment01 {
  display: contents;
}
.content-list2-text02 {
  display: inline-block;
}
.content-list2-fragment03 {
  display: contents;
}
.content-list2-text06 {
  display: inline-block;
}
.content-list2-fragment04 {
  display: contents;
}
.content-list2-text07 {
  display: inline-block;
}
.content-list2-text09 {
  text-decoration: underline;
}
.content-list2-fragment06 {
  display: contents;
}
.content-list2-text24 {
  display: inline-block;
  align-self: flex-start;
}
.content-list2-fragment07 {
  display: contents;
}
.content-list2-text25 {
  display: inline-block;
  align-self: flex-start;
}
.content-list2-fragment05 {
  display: contents;
}
.content-list2-text23 {
  display: inline-block;
}
.content-list2-fragment02 {
  display: contents;
}
.content-list2-text05 {
  display: inline-block;
}
@media(max-width: 767px) {
  .content-list2-ul1 {
    padding-left: var(--dl-space-space-threeunits);
  }
  .content-list2-ul3 {
    padding-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .content-list2-ul1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .content-list2-ul3 {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.logos1-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos1-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos1-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.logos1-fragment08 {
  display: contents;
}
.logos1-text26 {
  display: inline-block;
  text-align: center;
}
.logos1-root-class-name {
  background-color: #a1b5a1;
}
@media(max-width: 767px) {
  .logos1-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos1-max-width {
    gap: var(--dl-space-space-twounits);
  }
}

.footer-submit-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer-submit-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-submit-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer-submit-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-submit-image1 {
  height: 2rem;
}
.footer-submit-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer-submit-link1 {
  text-decoration: none;
}
.footer-submit-link2 {
  text-decoration: none;
}
.footer-submit-link3 {
  text-decoration: none;
}
.footer-submit-link4 {
  text-decoration: none;
}
.footer-submit-link5 {
  text-decoration: none;
}
.footer-submit-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer-submit-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer-submit-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer-submit-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer-submit-fragment10 {
  display: contents;
}
.footer-submit-text30 {
  display: inline-block;
}
.footer-submit-fragment11 {
  display: contents;
}
.footer-submit-text31 {
  display: inline-block;
}
.footer-submit-fragment09 {
  display: contents;
}
.footer-submit-text29 {
  display: inline-block;
}
.footer-submit-fragment13 {
  display: contents;
}
.footer-submit-text35 {
  display: inline-block;
}
.footer-submit-fragment12 {
  display: contents;
}
.footer-submit-text34 {
  display: inline-block;
}
.footer-submit-root-class-name {
  background-color: #FFFFFF;
}
@media(max-width: 991px) {
  .footer-submit-logo {
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer-submit-content {
    flex-direction: column;
  }
  .footer-submit-row {
    flex-direction: column;
  }
  .footer-submit-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-submit-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-submit-content {
    width: 100%;
  }
  .footer-submit-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.submit-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.submit-fragment {
  display: contents;
}
.submit-content7 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-halfunit);
}
.submit-text {
  text-decoration: underline;
}
.submit-fragment01 {
  display: contents;
}
.submit-text02 {
  display: inline-block;
}
.submit-fragment02 {
  display: contents;
}
.submit-text05 {
  display: inline-block;
}
.submit-fragment03 {
  display: contents;
}
.submit-text06 {
  display: inline-block;
}
.submit-fragment04 {
  display: contents;
}
.submit-text07 {
  display: inline-block;
}
.submit-text09 {
  text-decoration: underline;
}
.submit-fragment05 {
  display: contents;
}
.submit-text23 {
  display: inline-block;
}
.submit-fragment06 {
  display: contents;
}
.submit-text24 {
  display: inline-block;
  align-self: flex-start;
}
.submit-fragment07 {
  display: contents;
}
.submit-text25 {
  display: inline-block;
  align-self: flex-start;
}
.submit-fragment08 {
  display: contents;
}
.submit-text26 {
  display: inline-block;
  text-align: center;
}
.submit-fragment09 {
  display: contents;
}
.submit-text29 {
  display: inline-block;
}
.submit-fragment10 {
  display: contents;
}
.submit-text30 {
  display: inline-block;
}
.submit-fragment11 {
  display: contents;
}
.submit-text31 {
  display: inline-block;
}
.submit-fragment12 {
  display: contents;
}
.submit-text34 {
  display: inline-block;
}
.submit-fragment13 {
  display: contents;
}
.submit-text35 {
  display: inline-block;
}
