.footer15-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer15-max-width {
  display: flex;
  flex-direction: column;
}
.footer15-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.footer15-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.footer15-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer15-actions1 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer15-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer15-container1 {
  width: 365px;
  display: flex;
  align-items: stretch;
}
.footer15-text-input {
  width: 100%;
  background-color: transparent;
}
.footer15-media {
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer15-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer15-image1 {
  height: 4rem;
}
.footer15-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer15-credits {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer15-row {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer15-credits1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer15-content3 {
  align-self: center;
}
@media(max-width: 991px) {
  .footer15-content {
    flex-direction: row;
  }
  .footer15-newsletter {
    width: 50%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container1 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .footer15-media {
    width: 50%;
  }
  .footer15-image1 {
    height: 4rem;
  }
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-row {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer15-content3 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer15-actions {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer15-container1 {
    width: 100%;
  }
  .footer15-button {
    width: 208px;
  }
  .footer15-media {
    width: 100%;
    align-items: center;
  }
  .footer15-credits {
    flex-direction: column;
  }
  .footer15-row {
    padding: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .footer15-credits1 {
    width: auto;
    align-self: stretch;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer15-content {
    gap: var(--dl-space-space-twounits);
  }
  .footer15-newsletter {
    width: 100%;
  }
  .footer15-actions1 {
    width: 100%;
  }
  .footer15-form {
    width: 100%;
    flex-direction: column;
  }
  .footer15-container1 {
    width: 100%;
  }
  .footer15-button {
    width: 100%;
  }
  .footer15-media {
    width: 100%;
  }
  .footer15-image1 {
    height: 3rem;
  }
  .footer15-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer15-row {
    align-items: center;
    justify-content: center;
  }
  .footer15-credits1 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
