.logos9-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.logos9-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logos9-text {
  text-align: center;
}
.logos9-container1 {
  width: 100%;
}
.logos9-logo1 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo2 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo3 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo4 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo5 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo6 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo11 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo21 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo31 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo41 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo51 {
  width: 200px;
  object-fit: contain;
}
.logos9-logo61 {
  width: 200px;
  object-fit: contain;
}
.logos9-container5 {
  display: contents;
}
@media(max-width: 767px) {
  .logos9-container {
    gap: var(--dl-space-space-twounits);
  }
  .logos9-max-width {
    gap: var(--dl-space-space-twounits);
  }
}
