.header-wrapper {
  display: contents;
}
 
.header-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.header-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
 
.header-image1 {
  width: 107px;
  height: 95px;
}
 
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.header-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.header-link11 {
  text-decoration: none;
}
 
.header-link21 {
  text-decoration: none;
}
 
.header-link31 {
  text-decoration: none;
}
 
.header-link41 {
  text-decoration: none;
}
 
.header-link51 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
}
 
.header-link52 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
}
 
.header-icon-group1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-layout-space-twounits);
}
 
.header-link6 {
  display: contents;
}
 
.header-icon10 {
  text-decoration: none;
}
 
.header-link7 {
  display: contents;
}
 
.header-icon12 {
  text-decoration: none;
}
 
.header-burger-menu {
  display: none;
}
 
.header-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.header-logo {
  height: 3rem;
}
 
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.header-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.header-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.header-link12 {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.header-link22 {
  text-decoration: none;
}
 
.header-link32 {
  text-decoration: none;
}
 
.header-link42 {
  text-decoration: none;
}
 
.header-link53 {
  text-decoration: none;
}
 
.header-icon-group2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.headerroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.headerroot-class-name1 {
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.headerroot-class-name2 {
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.headerroot-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.headerroot-class-name4 {
  width: 100%;
  align-self: stretch;
}
 
.headerroot-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
 
@media(max-width: 1600px) {
  .header-link51 {
    color: var(--dl-color-theme-primary2);
    text-decoration: none;
  }
}
 
@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .header-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.hero3-wrapper {
  display: contents;
}
 
.hero3-header9 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.hero3-content {
  display: flex;
  justify-content: center;
}
 
.hero3-max-width {
  align-self: center;
  align-items: center;
}
 
.hero3-column1 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero3-column2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero3-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
 
.hero3-button1 {
  text-decoration: none;
}
 
.hero3-text3 {
  color: var(--dl-color-theme-neutral-light);
}
 
.hero3-button2 {
  text-decoration: none;
}
 
.hero3root-class-name {
  width: 100%;
  align-self: stretch;
  background-color: #D9D9D9;
}
 
@media(max-width: 1600px) {
  .hero3-text3 {
    color: var(--dl-color-theme-neutral-light);
  }
  .hero3-button2 {
    fill: var(--dl-color-theme-neutral-light);
    color: var(--dl-color-theme-neutral-light);
    background-color: #a1b5a1;
  }
}
 
@media(max-width: 1200px) {
  .hero3-text3 {
    color: var(--dl-color-theme-neutral-light);
  }
}
 
@media(max-width: 991px) {
  .hero3-column1 {
    width: 100%;
  }
  .hero3-column2 {
    width: auto;
  }
  .hero3-button1 {
    flex: 1;
  }
  .hero3-button2 {
    flex: 1;
  }
}
 
@media(max-width: 767px) {
  .hero3-max-width {
    flex-direction: column;
  }
  .hero3-text1 {
    text-align: center;
  }
  .hero3-text2 {
    text-align: center;
  }
  .hero3-actions {
    width: 100%;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .hero3-actions {
    flex-direction: column;
  }
  .hero3-button1 {
    width: 100%;
  }
  .hero3-button2 {
    width: 100%;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
}

.features16-wrapper {
  display: contents;
}
 
.features16-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features16-section-title {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.features16-text10 {
  text-align: center;
}
 
.features16-text11 {
  text-align: center;
}
 
.features16-content2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.features16-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.features16-feature1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-image1 {
  width: 200px;
  object-fit: cover;
}
 
.features16-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-feature1-title {
  text-align: center;
}
 
.features16-feature2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-image2 {
  width: 200px;
  object-fit: cover;
}
 
.features16-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-feature3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-image3 {
  width: 200px;
  object-fit: cover;
}
 
.features16-content5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.issues-fragment16 {
  display: contents;
}
 
.issues-text22 {
  display: inline-block;
}
 
.issues-link2 {
  text-decoration: underline;
}
 
.issues-fragment10 {
  display: contents;
}
 
.issues-text10 {
  display: inline-block;
}
 
.issues-fragment17 {
  display: contents;
}
 
.issues-text27 {
  display: inline-block;
}
 
.issues-fragment15 {
  display: contents;
}
 
.issues-text17 {
  display: inline-block;
}
 
.issues-link1 {
  text-decoration: underline;
}
 
.issues-fragment11 {
  display: contents;
}
 
.issues-text11 {
  display: inline-block;
}
 
.issues-fragment13 {
  display: contents;
}
 
.issues-text15 {
  display: inline-block;
}
 
.issues-fragment14 {
  display: contents;
}
 
.issues-text16 {
  display: inline-block;
}
 
.issues-fragment12 {
  display: contents;
}
 
.issues-text12 {
  display: inline-block;
}
 

 
@media(max-width: 1600px) {
  .features16-image1 {
    width: 400px;
    height: 580px;
  }
  .features16-image2 {
    width: 400px;
    height: 580px;
  }
  .features16-image3 {
    width: 400px;
    height: 580px;
  }
  .issues-link2 {
    text-decoration: underline;
  }
  .issues-text25 {
    font-style: italic;
  }
  .issues-link1 {
    text-decoration: underline;
  }
  .issues-text20 {
    font-style: italic;
  }
  .features16root-class-name {
    background-color: #D9D9D9;
  }
}
 
@media(max-width: 991px) {
  .features16-section-title {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features16-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features16-section-title {
    width: auto;
  }
  .features16-text10 {
    text-align: center;
  }
  .features16-row {
    flex-direction: column;
  }
  .features16-feature2 {
    width: auto;
  }
  .features16-feature3 {
    width: auto;
  }
}

.features18-wrapper {
  display: contents;
}
 
.features18-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features18-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features18-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features18root-class-name {
  width: 100%;
  align-self: stretch;
  background-color: #a1b5a1;
}
 
@media(max-width: 991px) {
  .features18-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column-reverse;
  }
}

.features171-wrapper {
  display: contents;
}
 
.features171-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features171-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features171-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features171-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features171-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features171-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features171root-class-name {
  width: 100%;
  align-self: stretch;
}
 
@media(max-width: 991px) {
  .features171-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}

.footer-issues-wrapper {
  display: contents;
}
 
.footer-issues-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer-issues-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer-issues-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer-issues-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer-issues-image1 {
  height: 2rem;
}
 
.footer-issues-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer-issues-link1 {
  text-decoration: none;
}
 
.footer-issues-link2 {
  text-decoration: none;
}
 
.footer-issues-social-links {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.footer-issues-link6 {
  display: contents;
}
 
.footer-issues-icon1 {
  text-decoration: none;
}
 
.footer-issues-link7 {
  display: contents;
}
 
.footer-issues-icon3 {
  text-decoration: none;
}
 
.footer-issues-credits {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer-issues-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer-issues-footer-links {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.issues-fragment20 {
  display: contents;
}
 
.issues-link5 {
  display: inline-block;
}
 
.issues-fragment18 {
  display: contents;
}
 
.issues-link3 {
  display: inline-block;
}
 
.issues-fragment19 {
  display: contents;
}
 
.issues-link4 {
  display: inline-block;
}
 
.footer-issuesroot-class-name {
  width: 100%;
  align-self: stretch;
  background-color: #FFFFFF;
}
 
@media(max-width: 1600px) {
  .footer-issues-link1 {
    text-decoration: none;
  }
  .footer-issues-link2 {
    text-decoration: none;
  }
}
 
@media(max-width: 991px) {
  .footer-issues-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .footer-issues-content {
    flex-direction: column;
  }
  .footer-issues-row {
    flex-direction: column;
  }
  .footer-issues-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer-issues-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer-issues-content {
    width: 100%;
  }
  .footer-issues-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.issues-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.issues-fragment10 {
  display: contents;
}
 
.issues-text10 {
  display: inline-block;
}
 
.issues-fragment11 {
  display: contents;
}
 
.issues-text11 {
  display: inline-block;
}
 
.issues-fragment12 {
  display: contents;
}
 
.issues-text12 {
  display: inline-block;
}
 
.issues-fragment13 {
  display: contents;
}
 
.issues-text15 {
  display: inline-block;
}
 
.issues-fragment14 {
  display: contents;
}
 
.issues-text16 {
  display: inline-block;
}
 
.issues-fragment15 {
  display: contents;
}
 
.issues-text17 {
  display: inline-block;
}
 
.issues-link1 {
  text-decoration: underline;
}
 
.issues-fragment16 {
  display: contents;
}
 
.issues-text22 {
  display: inline-block;
}
 
.issues-link2 {
  text-decoration: underline;
}
 
.issues-fragment17 {
  display: contents;
}
 
.issues-text27 {
  display: inline-block;
}
 
.issues-fragment18 {
  display: contents;
}
 
.issues-link3 {
  display: inline-block;
}
 
.issues-fragment19 {
  display: contents;
}
 
.issues-link4 {
  display: inline-block;
}
 
.issues-fragment20 {
  display: contents;
}
 
.issues-link5 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .issues-link1 {
    text-decoration: underline;
  }
  .issues-text20 {
    font-style: italic;
  }
  .issues-link2 {
    text-decoration: underline;
  }
  .issues-text25 {
    font-style: italic;
  }
}
