.contact2-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact2-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact2-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact2-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact2-fragment {
  display: contents;
}
.contact2-text2 {
  display: inline-block;
}
.contact2-fragment1 {
  display: contents;
}
.contact2-text3 {
  display: inline-block;
  text-align: center;
}
.contact2-root-class-name {
  background-color: var(--dl-color-theme-primary1);
}
