.content-list4-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list4-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list4-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul {
  align-items: flex-start;
}
.content-list4-li {
  align-items: flex-start;
}
.content-list4-heading7 {
  align-self: center;
  text-align: center;
}
.content-list4-content1 {
  align-self: stretch;
  align-items: flex-start;
}
.content-list4-ul1 {
  align-items: flex-start;
}
.content-list4-fragment {
  display: contents;
}
.content-list4-content71 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-halfunit);
}
.content-list4-root-class-name {
  background-color: #a1b5a1;
}
