.faq11faq7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.faq11-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faq11-text11 {
  text-align: center;
}
 
.faq11-list-item1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq11-faq1-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq11-list-item2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq11-faq2-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq11-list-item3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq11-faq3-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq11-list-item4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq11-faq4-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq11-list-item5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq11-faq5-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq11-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.faq11-text13 {
  text-align: center;
}
 
.faq11-container {
  display: flex;
  position: relative;
}
 
.faq11-fragment10 {
  display: contents;
}
 
.faq11-text14 {
  display: inline-block;
}
 
.faq11-fragment11 {
  display: contents;
}
 
.faq11-text15 {
  display: inline-block;
}
 
.faq11-fragment12 {
  display: contents;
}
 
.faq11-text16 {
  display: inline-block;
}
 
.faq11-fragment13 {
  display: contents;
}
 
.faq11-text17 {
  display: inline-block;
}
 
.faq11-fragment14 {
  display: contents;
}
 
.faq11-text18 {
  display: inline-block;
}
 
.faq11-fragment15 {
  display: contents;
}
 
.faq11-text19 {
  display: inline-block;
}
 
.faq11-fragment16 {
  display: contents;
}
 
.faq11-text20 {
  display: inline-block;
}
 
.faq11-fragment17 {
  display: contents;
}
 
.faq11-text21 {
  display: inline-block;
}
 
.faq11-fragment18 {
  display: contents;
}
 
.faq11-text22 {
  display: inline-block;
}
 
.faq11-fragment19 {
  display: contents;
}
 
.faq11-text23 {
  display: inline-block;
}
 
.faq11-fragment20 {
  display: contents;
}
 
.faq11-text24 {
  display: inline-block;
}
 
.faq11-fragment21 {
  display: contents;
}
 
.faq11-text25 {
  display: inline-block;
}
 
.faq11-fragment22 {
  display: contents;
}
 
.faq11-text26 {
  display: inline-block;
}
 
.faq11-fragment23 {
  display: contents;
}
 
.faq11-text27 {
  display: inline-block;
}
 
.faq11-fragment24 {
  display: contents;
}
 
.faq11-text28 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .faq11-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .faq11-text11 {
    text-align: left;
  }
  .faq11-list {
    gap: var(--dl-layout-space-twounits);
  }
  .faq11-button {
    width: 100%;
  }
}
