.footer-about-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer-about-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-about-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer-about-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-about-image1 {
  height: 2rem;
}
.footer-about-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer-about-link1 {
  text-decoration: none;
}
.footer-about-link2 {
  text-decoration: none;
}
.footer-about-link3 {
  text-decoration: none;
}
.footer-about-link4 {
  text-decoration: none;
}
.footer-about-link5 {
  text-decoration: none;
}
.footer-about-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer-about-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer-about-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer-about-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer-about-root-class-name {
  background-color: #FFFFFF;
}
@media(max-width: 991px) {
  .footer-about-logo {
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer-about-content {
    flex-direction: column;
  }
  .footer-about-row {
    flex-direction: column;
  }
  .footer-about-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-about-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-about-content {
    width: 100%;
  }
  .footer-about-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
