.header-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.header-image1 {
  width: 107px;
  height: 95px;
}
.header-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.header-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header-link11 {
  text-decoration: none;
}
.header-link21 {
  text-decoration: none;
}
.header-link31 {
  text-decoration: none;
}
.header-link41 {
  text-decoration: none;
}
.header-link51 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
  text-decoration: none;
}
.header-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.header-link1 {
  display: contents;
}
.header-icon10 {
  text-decoration: none;
}
.header-link2 {
  display: contents;
}
.header-icon12 {
  text-decoration: none;
}
.header-burger-menu {
  display: none;
}
.header-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-logo {
  height: 3rem;
}
.header-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.header-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name1 {
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name2 {
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #97dbae;
  width: 100%;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-light);
}
.header-root-class-name4 {
  width: 100%;
  align-self: stretch;
}
@media(max-width: 767px) {
  .header-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-desktop-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .header-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
