.hero15-container1 {
  width: 100%;
  height: 1015px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.hero15-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero15-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeInLeft;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.hero15-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.hero15-textinput {
  width: 70%;
  background-color: transparent;
}
.hero15-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.hero15-button {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
.hero15-fragment1 {
  display: contents;
}
.hero15-text4 {
  display: inline-block;
}
.hero15-fragment2 {
  display: contents;
}
.hero15-text5 {
  display: inline-block;
}
.hero15-fragment3 {
  display: contents;
}
.hero15-text6 {
  display: inline-block;
}
@media(max-width: 991px) {
  .hero15-column {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .hero15-column {
    width: 100%;
  }
  .hero15-container2 {
    flex-direction: column;
  }
  .hero15-textinput {
    width: 100%;
  }
  .hero15-container3 {
    width: 100%;
  }
  .hero15-button {
    width: 100%;
  }
  .hero15-text4 {
    text-align: center;
  }
  .hero15-text6 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .hero15-container3 {
    width: 100%;
  }
  .hero15-button {
    width: 100%;
  }
}
