.stats3-max-width {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.stats3-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.stats3-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.stats3-container3 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stats3-container4 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
.stats3-container5 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stats3-container6 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 991px) {
  .stats3-container2 {
    flex-wrap: wrap;
  }
  .stats3-container5 {
    align-self: flex-start;
  }
  .stats3-container6 {
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .stats3-title {
    text-align: center;
  }
  .stats3-container2 {
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
  .stats3-container3 {
    align-self: flex-start;
  }
  .stats3-text1 {
    text-align: center;
  }
  .stats3-container4 {
    flex: 1;
  }
  .stats3-text3 {
    text-align: center;
  }
  .stats3-text5 {
    text-align: center;
  }
  .stats3-text7 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .stats3-title {
    align-self: center;
    text-align: center;
  }
  .stats3-container2 {
    flex-wrap: wrap;
  }
  .stats3-container4 {
    align-self: flex-start;
  }
  .stats3-container5 {
    align-self: flex-start;
  }
  .stats3-container6 {
    align-self: flex-start;
  }
}
