.team7-max-width {
  gap: var(--dl-space-space-fiveunits);
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.team7-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.team7-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-text01 {
  align-self: flex-start;
}
.team7-text02 {
  align-self: flex-start;
}
.team7-content01 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
}
.team7-card {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image {
  width: 80px;
  height: 80px;
}
.team7-content02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-title {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-text03 {
  font-style: normal;
  font-weight: 600;
}
.team7-text04 {
  text-align: center;
}
.team7-social-icons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team7-card1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image1 {
  width: 80px;
  height: 80px;
}
.team7-content03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-text06 {
  font-style: normal;
  font-weight: 600;
}
.team7-text07 {
  text-align: center;
}
.team7-social-icons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team7-card2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image2 {
  width: 80px;
  height: 80px;
}
.team7-content04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-text09 {
  font-style: normal;
  font-weight: 600;
}
.team7-text10 {
  text-align: center;
}
.team7-social-icons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team7-card3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image3 {
  width: 80px;
  height: 80px;
}
.team7-content05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-text12 {
  font-style: normal;
  font-weight: 600;
}
.team7-text13 {
  text-align: center;
}
.team7-social-icons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team7-card4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image4 {
  width: 80px;
  height: 80px;
}
.team7-content06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-text15 {
  font-style: normal;
  font-weight: 600;
}
.team7-text16 {
  text-align: center;
}
.team7-social-icons4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team7-card5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.team7-placeholder-image5 {
  width: 80px;
  height: 80px;
}
.team7-content07 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.team7-title5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.team7-text18 {
  font-style: normal;
  font-weight: 600;
}
.team7-text19 {
  text-align: center;
}
.team7-social-icons5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.team7-content08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
.team7-content09 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.team7-text21 {
  align-self: flex-start;
  font-stretch: normal;
}
.team7-text22 {
  align-self: flex-start;
}
.team7-button {
  width: 100%;
  max-width: 300px;
}
@media(max-width: 479px) {
  .team7-button {
    width: 100%;
  }
}
