<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Helpa template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Karla;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial6.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial6-max-width thq-section-max-width">
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="testimonial6-slider swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide swiper-slide"
              >
                <div class="testimonial6-card">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo"
                  />
                  <p class="testimonial6-text thq-body-large">
                    <span>
                      I have been supporting Helpa for years, and I am amazed by
                      the impact they have on animal welfare globally.
                    </span>
                  </p>
                  <div class="testimonial6-avatar">
                    <img
                      alt="Image of Sarah Johnson"
                      src="https://images.unsplash.com/photo-1523307730650-594bc63f9d67?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content">
                      <span class="testimonial6-text01 thq-body-small">
                        <span>Sarah Johnson</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Animal Rights Activist</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="testimonial6-card1">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo1"
                  />
                  <p class="testimonial6-text03 thq-body-large">
                    <span>
                      Helpa's dedication to helping animals in need is truly
                      inspiring. I highly recommend supporting their cause.
                    </span>
                  </p>
                  <div class="testimonial6-avatar1">
                    <img
                      alt="Image of Michael Smith"
                      src="https://images.unsplash.com/photo-1506755594592-349d12a7c52a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image1 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content1">
                      <span class="testimonial6-text04 thq-body-small">
                        <span>Michael Smith</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Animal Lover</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide1 swiper-slide"
              >
                <div class="testimonial6-card2">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo2"
                  />
                  <p class="testimonial6-text06 thq-body-large">
                    <span>
                      I appreciate the work Helpa does to raise awareness and
                      take action for animal rights. Every little bit helps!
                    </span>
                  </p>
                  <div class="testimonial6-avatar2">
                    <img
                      alt="Image of Emily Brown"
                      src="https://images.unsplash.com/photo-1634926878768-2a5b3c42f139?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image2 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content2">
                      <span class="testimonial6-text07 thq-body-small">
                        <span>Emily Brown</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Wildlife Conservationist</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="testimonial6-card3">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo3"
                  />
                  <p class="testimonial6-text09 thq-body-large">
                    <span>
                      As a veterinarian, I see the importance of organizations
                      like Helpa in making a difference for animals in need.
                    </span>
                  </p>
                  <div class="testimonial6-avatar3">
                    <img
                      alt="Image of David Wilson"
                      src="https://images.unsplash.com/photo-1542801905-94103d446884?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image3 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content3">
                      <span class="testimonial6-text10 thq-body-small">
                        <span>David Wilson</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Veterinarian</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial6-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="testimonial6-slider1 swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide2 swiper-slide"
              >
                <div class="testimonial6-card4">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo4"
                  />
                  <span class="testimonial6-text12 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar4">
                    <img
                      alt="Image of Sarah Johnson"
                      src="https://images.unsplash.com/photo-1523307730650-594bc63f9d67?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image4 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content4">
                      <span class="testimonial6-text13 thq-body-small">
                        <span>Author Name</span>
                        <span>Sarah Johnson</span>
                      </span>
                      <span class="thq-body-small">Position, Company name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide3 swiper-slide"
              >
                <div class="testimonial6-card5">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo5"
                  />
                  <span class="testimonial6-text16 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar5">
                    <img
                      alt="Image of Michael Smith"
                      src="https://images.unsplash.com/photo-1506755594592-349d12a7c52a?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image5 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content5">
                      <span class="testimonial6-text17 thq-body-small">
                        <span>Author Name</span>
                        <span>Michael Smith</span>
                      </span>
                      <span class="thq-body-small">Position, Company name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide4 swiper-slide"
              >
                <div class="testimonial6-card6">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo6"
                  />
                  <span class="testimonial6-text20 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar6">
                    <img
                      alt="Image of Emily Brown"
                      src="https://images.unsplash.com/photo-1634926878768-2a5b3c42f139?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image6 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content6">
                      <span class="testimonial6-text21 thq-body-small">
                        <span>Author Name</span>
                        <span>Emily Brown</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Position, Company name</span>
                        <span>Wildlife Conservationist</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide5 swiper-slide"
              >
                <div class="testimonial6-card7">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo7"
                  />
                  <span class="testimonial6-text25 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar7">
                    <img
                      alt="Image of David Wilson"
                      src="https://images.unsplash.com/photo-1542801905-94103d446884?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxODkxMzU5N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial6-avatar-image7 thq-img-ratio-1-1 thq-img-round"
                    />
                    <div class="testimonial6-avatar-content7">
                      <span class="testimonial6-text26 thq-body-small">
                        <span>Author Name</span>
                        <span>David Wilson</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Position, Company name</span>
                        <span>Veterinarian</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial6-slider-pagination1 swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
