.timeline2-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-container11 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.timeline2-content-container1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline2-container12 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline2-image1 {
  flex: 1;
  max-width: auto;
}
.timeline2-container13 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.timeline2-content-container2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline2-container14 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline2-button3 {
  border-radius: var(--dl-radius-radius-radius4);
}
.timeline2-button4 {
  border-radius: var(--dl-radius-radius-radius4);
}
.timeline2-image2 {
  flex: 1;
  max-width: auto;
}
.timeline2-container15 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.timeline2-content-container3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline2-container16 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline2-button5 {
  border-radius: var(--dl-radius-radius-radius4);
}
.timeline2-button6 {
  border-radius: var(--dl-radius-radius-radius4);
}
.timeline2-image3 {
  flex: 1;
  max-width: auto;
}
.timeline2-container17 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.timeline2-content-container4 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.timeline2-container18 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.timeline2-button7 {
  border-radius: var(--dl-radius-radius-radius4);
}
.timeline2-button8 {
  border-radius: var(--dl-radius-radius-radius4);
}
.timeline2-image4 {
  flex: 1;
  max-width: auto;
}
.timeline2-timeline-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.timeline2-progress0 {
  flex: 0 0 auto;
  width: 5%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-step0 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-container19 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container20 {
  flex: 0 0 auto;
  width: 10%;
  height: 2px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container21 {
  flex: 0 0 auto;
  width: 10%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container22 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-container23 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container24 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  opacity: 0.35;
}
.timeline2-container25 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container26 {
  flex: 0 0 auto;
  width: 10%;
  height: 2px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container27 {
  flex: 0 0 auto;
  width: 10%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container28 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-text29 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  opacity: 0.35;
}
.timeline2-container29 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container30 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-container31 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container32 {
  flex: 0 0 auto;
  width: 10%;
  height: 2px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container33 {
  flex: 0 0 auto;
  width: 10%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container34 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-text32 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  opacity: 0.35;
}
.timeline2-container35 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container36 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  margin: -5px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline2-container37 {
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container38 {
  flex: 0 0 auto;
  width: 5%;
  height: 2px;
  display: flex;
  opacity: 0.35;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
.timeline2-container39 {
  flex: 0 0 auto;
  width: 5%;
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
}
@media(max-width: 991px) {
  .timeline2-container11 {
    flex-direction: column;
  }
  .timeline2-container13 {
    flex-direction: column;
  }
  .timeline2-container15 {
    flex-direction: column;
  }
  .timeline2-container17 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .timeline2-max-width {
    gap: 0;
  }
}
@media(max-width: 479px) {
  .timeline2-container11 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline2-container12 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline2-container13 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline2-container15 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline2-container17 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline2-progress0 {
    display: none;
  }
  .timeline2-container38 {
    display: none;
  }
  .timeline2-container39 {
    display: none;
  }
}
